


@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);

* {box-sizing: border-box;}
body{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans' sans-serif;
}
.container {
  max-width: 100%;
  background-color: #000000;
}
.row:after {
  content: "";
  clear: both;
  display: block;
}
[class*="col"] {
  padding: 2px;
  float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.hero {
  margin: 0;
  padding: 0;
  height: 800px;
  text-align: center;
  background-size: cover;
  background: url('http://cdn.pixabay.com/photo/2014/05/03/00/46/gadgets-336635__340.jpg') 0/cover;
}
h1 {
  font-size: 50px;
}
nav {
  text-align: center;
}
nav h1, ul {
  height: 60px;
}
nav h1{
  color: #fed136;
  font-family:'Great Vibes', cursive;
  font-size: 36px;
  letter-spacing: 1.3px;
  padding-top: 10px;
  margin-top: 10px;
}
ul{
  padding-left: 20px;
  margin-top: 10px;
}
ul > li {
  list-style: none;
  display: block;
  float: left;
  font-family: Montserrat;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 30px;
  margin-top: 10px;
  padding-left: 15px;
  padding-top: 10px;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fed136;
}
article {
  height: 45vh;
  margin-top: 50px;
  padding-top: 30px;
}
.article h1 {
  text-align: center;
  font-style: italic;
  font-family: "Droid Serif";
  color: #fff;
  margin: 100px auto 20px;
  padding: 20px;
}
.article p {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 30px auto;
}
button {
  width: 242px;
  height: 68px;
  margin-top: 10px;
  padding: 0;
  font-size: 25px;
  color: #fff;
  font-family: Montserrat;
  border: none;
  background: none;
}
button:hover {
  background-color:  #fed136;
  border-radius: 10px;
}
.hero button, a {
  cursor: pointer;
  transition: 0.15s;
}
.services {
  width: 934px;
  margin: 0 223.54px;
}
.title_services h1 {
  color: #222222;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
  font-style: normal;
  margin: 30px auto 0;
  padding: 5px;
}
.services p, .title_services p {
  color: #777777;
  font-family: "Droid Serif";
  font-size: 26px;
  font-style: italic;
  text-transform: none;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
}
.icon{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 20px;
  margin: 10px;
}
.icon i {
  width: 90px;
  height: 89px;
  color: #fed136;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border: 3px solid #fed136;
  background-color: #ffffff;
  border-radius: 50px;
}
.text h4, .caption h4 {
  color: #222222;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}
.text p,.caption p {
  font-family: 'Roboto Slab', serif;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  color: #777777;
  font-style: normal;
  margin: 5px 20px 20px;
  text-align: justify;
  word-spacing: -3.75px;
}
.portfolio {
  width: 1400px;
  height: 1200px;
  background-color: #f7f7f7;
  margin: 0;
}
.background {
  display: inlaine-box;
  width: 293px;
  margin: 30px auto;
}
.item {
  width: 294px;
  height: 303px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 auto;
  border: none;
}
.item img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border: none;
}
.caption {
  width: 293px;
  margin: 0 auto;
}
.caption h4 {
  color: #333333;
  padding-top: 20px;
}
.caption p {
  font-style: italic;
  word-spacing: 1px;
  text-align: center;
}
.team {
  display: inlaine-box;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.team_item {
  border-radius: 100%;
  margin: 0 auto;
  width: 250px;
  height: 250px;
}
.team img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.aboutus {
  width: 874px;
  margin: auto 263px;
}
.icon-aboutus {
  margin: auto;
  -ms-flex-pack: center;
      justify-content: center;
}
.icon-aboutus_yellow {
  width: 100%;
}
.icon-aboutus .text, .icon-aboutus_2 .text{
  margin-top: 25px;
  margin-left: 0;
}
.icon-aboutus h4, .icon-aboutus p {
  text-align: right;
  margin-right: 0;
}
.icon-aboutus_2 h4, .icon-aboutus_2 p {
  text-align: left;
  margin-left: 0;
}
.icon-aboutus_2 img {
  border:5px solid #f7f7f7;
  border-radius: 100px;
  width: 170px;
  height: 170px;
  margin-left: 0;
}
.icon-aboutus img {
  border:5px solid #f7f7f7;
  border-radius: 100px;
  width: 170px;
  height: 170px;
  padding-left: 0;
}
.img_yellow {
  width: 183px;
  height: 183px;
  background: url(images/img/econtainer.jpg);
}
.img_yellow p {
  margin: 30px auto;
  line-height: 25px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.45px;
}
.amazing_team {
  width: 900px;
  height: 700px;
  margin: 0px auto;
}
.social {
  display: flex;
  padding: 20px;
  justify-content: center;
}
.logos {
  width: 765px;
  height: 43px;
  margin: 60px 317.5px;
}
.logos img {
  width: 135px;
  height: 30px;
  display: -ms-flexbox;
  display: flex;
}
.contact {
  width: 1400px;
  height: 35em;
  background-image: url(images/img/mapa.png);
}
.contact h1 {
  color:#ffffff;
}
.form-group {
 margin: 20px 60px 0;
}
.form-control {
  width: 100%;
  height: 34px;
}
.form-control,.form-control_mesage {
  width: 100%;
  padding: 20px;
  color: #bbbbbb;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.35px;
}
.center {
  text-align: center;
  margin-top: 10px;
  padding-top: 20px;
}
footer {
  width: 1400px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.paragraf {
  width: 335px;
  margin-left: 150px;
  font-size: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.buttons {
  width: 230px;
  margin-left: 90px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.icon-btn {
  border-radius: 100%;
  width: 45px;
  height: 45px;
}
.fa {
  width: 45px;
  height: 45px;
  border: 0px;
  border-radius: 100%;
  margin: 10px 5px 10px;
  padding: 5px;
  cursor: pointer;
  font-size: 25px;
  text-decoration: none;
  background: #fff;
}
.fa-twitter {
  color: #4099FF;
}
.fa-facebook {
  color: #3B5998;
}
.fa-pinterest {
  color: #cb2028;;
}
.fa-google-plus {
  color: #da2713;
}
.fa:hover {
  transform: scale(1.10);
  color: #fff;
  border-radius: 100%;
  border: 0px;
}
.fa-twitter:hover {
  background-color: #4099FF;
}
.fa-facebook:hover {
  background-color: #3B5998;
}
.fa-pinterest:hover {
  background-color: #cb2028;
}
.fa-google-plus:hover {
  background-color: #da2713;
}





  @media (max-width: 500px) {
.hero {
  height: 400px;
}
h1 {
  font-size: 25px;
}
nav h1, ul {
  height: 30px;
}
nav h1 {
  font-size: 18px;
  padding-top: 5px;
  margin-top: 5px;
}
ul{
  padding-left: 10px;
  margin-top: 5px;
}
ul > li {
  font-family: Montserrat;
  margin-left: 15px;
  margin-top: 5px;
  padding-left: 7px;
  padding-top: 5px;
}
.article {
  height: 22vh;
  margin-top: 5px;
  padding-top: 15px;
}
.article h1 {
  margin: 5px auto 5px;
  padding: 10px;
}
.article p {
  font-size: 25px;
  font-weight: 200;
  margin: 15px auto;
}
button {
  width: 121px;
  height: 34px;
  margin-top: 5px;
  font-size: 12px;
}
.services {
  display: block;
}
.services p, .title_services p {
  font-size: 1.2em;
  margin-top: 0.2px;
  padding: 0.1px;
}
.icon {
  display: block;
  padding: 20px;
  margin: 5px;
}
.icon i {
  border: none;
  width: 45px;
  height: 44px;
  display: block;
}
.text h4,.caption h4 {
  font-size: 12px;
  font-weight: 200;
  padding: 2.5px;
}
.text p,.caption p {
  font-size: 12px;
  font-weight: 200;
  margin: 10px 15px 15px;
}
.portfolio {
  width: 350px;
  height: 300px;
}
.background {
  display: block;
  width: 293px;
  margin: 15px auto;
}
.item {
  width: 90px;
  height: 50px;
  display: column;
}
.item img {
  display: column;
}
.caption {
  width: 90px;
}
.caption h4 {
  padding-top: 10px;
}
.team_item {
  width: 20px;
  height: 60px;
}
.team img {
  width: 20px;
  height: 60px;
}
.aboutus {
  width: 437px;
  margin: auto 131px;
}
.icon-aboutus_yellow {
  width: 25%;
}
.icon-aboutus .text, .icon-aboutus_2 .text{
  margin-top: 15px;
}
.icon-aboutus_2 img {
  width: 85px;
  height: 85px;
}
.icon-aboutus img {
  width: 85px;
  height: 85px;
}
.img_yellow {
  width: 183px;
  height: 183px;
  background: url(images/img/econtainer.jpg);
}
.img_yellow p {
  margin: 15px auto;
  font-size: 18px;
  font-weight: 200;
}
.amazing_team {
  width: 400px;
  height: 350px;
  margin: 0;
  padding: 0;
}
.social {
  display: column;
  padding: 0;
}
.logos {
  width: 100px;
  height: 21.5px;
  margin: center;
}
.logos img {
  width: 135px;
  height: 30px;
}
.contact {
  width: 500px;
  height: 15em;
}
.form-group {
  margin: 10px;
}
.form-control {
  width: 25%;
  height: 15px;
}
.form-control,.form-control_mesage {
  width: 50%;
  padding: 2px;
  font-size: 10px;
  font-weight: 200;
}
.center {
  margin-top: 5px;
  padding-top: 10px;
}
footer {
  width: 700px;
  width: 50px;
}
.paragraf {
  width: 335px;
  margin-left: 75px;
  font-size: 15px;
  display: column;
}
.buttons {
  width: 115px;
  margin-left: 40px;
  display: column;
}
.icon-btn {
  width: 20px;
  height: 20px;
}
.fa {
  width: 20px;
  height: 20px;
  margin: 5px;
  padding: 5px;
  font-size: 15px;
}
