@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);

* {box-sizing: border-box;}

body{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.container {
  max-width: 100%;
}
.row:after {
  content: "";
  clear: both;
  display: block;
}
.row {
  overflow: auto;
}
[class*="col"] {
  padding: 5px;
  float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.hero {
  margin: 0;
  padding: 0;
  height: 800px;
  text-align: center;
  background-size: cover;
  background: url('http://cdn.pixabay.com/photo/2014/05/03/00/46/gadgets-336635__340.jpg') 0/cover;
}
nav {
  text-align: center;
  padding-top: 10px;
}
nav h2, ul {
  height: 60px;
  padding: 30px;
  margin: 20px 40px;
}
nav h2{
  color: #fed136;
  font-family:'Great Vibes', cursive;
  font-size: 36px;
  letter-spacing: 1.3px;
}
ul{
  padding-left: 20px;
}
ul > li {
  list-style: none;
  display: block;
  float: left;
  font-family: Montserrat;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 30px;
  padding-left: 15px;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fed136;
}
article {
  height: 45vh;
  margin-top: 50px;
  padding-top: 30px;
}
.article h1 {
  text-align: center;
  font-size: 50px;
  font-style: italic;
  font-family: "Droid Serif";
  color: #fff;
  margin: 100px auto 20px;
  padding: 20px;
}
.article p {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.88px;
  text-align: center;
  margin: 0 auto;
}
button {
  width: 242px;
  height: 68px;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 20px;
  color: #fff;
  font-family: Montserrat;
  border: none;
  background: none;
}
button:hover {
  background-color:  #fed136;
}
.hero button, a {
  cursor: pointer;
  transition: 3s;
}
.services,.portfolio {
  width: 100%;
  height: 800px;
  padding-top: 0;
}
.title_services {
  margin-top: 20px;
  padding-top: 10px;
}
.title_services h1 {
  color: #222222;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
  font-style: normal;
}
.services p {
  color: #777777;
  font-family: "Droid Serif";
  font-size: 26px;
  font-style: italic;
  text-transform: none;
  margin-top: 20px;
}
.icon{
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px;
}
.icon i {
  width: 90px;
  height: 89px;
  color: #fed136;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fed136;
  background-color: #ffffff;
  border-radius: 50px;
}
.text h4, .branding h4 {
  color: #222222;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}
.text p,.branding p {
  font-family: 'Roboto Slab', serif;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  font-style: normal;
  margin: 5px 70px 20px;
  padding: 10px;
  text-align: justify;
  word-spacing: -3.75px;
  text-indent: 10px;
}
.portfolio {
  height: 1221px;
  width: 100%;
  background-color: #f7f7f7;
}
.background {
  display: inlaine-box;
  background-color: #fff;
  width: 293px;
  margin: 30px auto;
}
.item{
  width: 294px;
  height: 303px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: none;
}
.item img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.branding{
  width: 293px;
  margin: 0 auto;
}
.branding h4 {
  color: #333333;
  padding-top: 20px;
}
.branding p {
  font-style: italic;
  word-spacing: 1px;
  text-align: center;
}
